# Framework Web
fastapi
uvicorn[standard]

# Banco de Dados
sqlalchemy
pymysql
cryptography

# Validação de dados
pydantic
email-validator

# Autenticação e Segurança
pyjwt
passlib[bcrypt]
python-multipart

# WebSocket
websockets

# Utilitários
python-dateutil

# Para desenvolvimento
pytest
pytest-asyncio
